@using MyCustomers.Management.App.Models
@inject MyCustomers.Management.App.Services.ICustomerDataService custSvc;


<center><h2>List of Customers</h2></center>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Customer Since</th>
            <th>Total Purchases</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cust in ListOfCustomers)
        {
            <tr>
                <td>@cust.Id.ToString()</td>
                <td>@cust.Name.ToString()</td>
                <td>@cust.Location.ToString()</td>
                <td>@cust.CustomerSince.ToString()</td>
                <td>@cust.TotalPurchases.ToString()</td>
            </tr>
        }
    </tbody>
    

</table>
@code {
    [Parameter]
    public List<Customer> ListOfCustomers { get; set; }



}
